<section class="bg-white py-16 lg:py-24">
  <div
    class="max-w-5xl mx-auto bg-red-50 flex flex-col items-center justify-center p-8 rounded-lg shadow-lg"
  >
    <h2
      class="font-bold text-3xl lg:text-5xl text-red-800 mt-3 mb-6 leading-tight"
    >
      Runway 10/28
    </h2>

    <h3 class="font-bold text-3xl mt-3 leading-tight">Location</h3>
    <table class="">
      <tbody class="">
        <tr class="">
          <td> Dimensions: </td>
          <td colspan="2"> 3371 x 75 ft. / 1027 x 23 m </td>
        </tr>
        <tr>
          <td> Surface: </td>
          <td colspan="2"> asphalt, in good condition </td>
        </tr>
        <tr>
          <td> Runway edge lights: </td>
          <td colspan="2"> medium intensity </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <b>RUNWAY 10</b>
          </td>
        </tr>
        <tr>
          <td> Latitude: </td>
          <td> 40-14.345305N </td>
        </tr>
        <tr>
          <td> Longitude: </td>
          <td> 075-33.763608W </td>
        </tr>
        <tr>
          <td> Elevation: </td>
          <td> 307.0 ft. </td>
        </tr>
        <tr>
          <td> Gradient: </td>
          <td> 0.5% </td>
        </tr>
        <tr>
          <td> Traffic pattern: </td>
          <td> left </td>
        </tr>
        <tr>
          <td> Runway heading: </td>
          <td> 096 magnetic, 084 true </td>
        </tr>
        <tr>
          <td> Displaced threshold: </td>
          <td> no </td>
        </tr>
        <tr>
          <td> Markings: </td>
          <td> basic, in fair condition </td>
        </tr>
        <tr>
          <td> Visual slope indicator: </td>
          <td> 2-light PAPI on left (3.00 degrees glide path) </td>
        </tr>
        <tr>
          <td> Runway end identifier lights: </td>
          <td> yes </td>
        </tr>
        <tr>
          <td> Touchdown point: </td>
          <td> yes, no lights </td>
        </tr>
        <tr>
          <td> Instrument approach: </td>
          <td> LOCALIZER </td>
        </tr>
        <tr>
          <td> Obstructions: </td>
          <td>
            37 ft. tree, 848 ft. from runway, 150 ft. left of centerline, 17:1
            slope to clear
          </td>
        </tr>
      </tbody>
    </table>
    <table class="">
      <tbody class="">
        <tr>
          <td>&nbsp;</td>
          <td>
            <b>RUNWAY 28</b>
          </td>
        </tr>
        <tr>
          <td> Latitude: </td>
          <td> 40-14.402280N </td>
        </tr>
        <tr>
          <td> Longitude: </td>
          <td> 075-33.042933W </td>
        </tr>
        <tr>
          <td> Elevation: </td>
          <td> 302.6 ft. </td>
        </tr>
        <tr>
          <td> Gradient: </td>
          <td> 0.5% </td>
        </tr>
        <tr>
          <td> Traffic pattern: </td>
          <td> right </td>
        </tr>
        <tr>
          <td> Runway heading: </td>
          <td> 276 magnetic, 264 true </td>
        </tr>
        <tr>
          <td> Displaced threshold: </td>
          <td> 190 ft. </td>
        </tr>
        <tr>
          <td> Markings: </td>
          <td> nonprecision, in fair condition </td>
        </tr>
        <tr>
          <td> Visual slope indicator: </td>
          <td> 2-light PAPI on left (3.00 degrees glide path) </td>
        </tr>
        <tr>
          <td> Runway end identifier lights: </td>
          <td> yes </td>
        </tr>
        <tr>
          <td> Touchdown point: </td>
          <td> yes, no lights </td>
        </tr>
        <tr>
          <td> Instrument approach: </td>
          <td> LOCALIZER </td>
        </tr>
        <tr>
          <td> Obstructions: </td>
          <td>
            55 ft. tree, 591 ft. from runway, 288 ft. right of centerline, 7:1
            slope to clear<br />
            +10 FT ROAD 0-200 FT FM THLD. +6 FT SIGN 214 FT LEFT OF THLD.
          </td>
        </tr>
      </tbody>
    </table>
    <table class="">
      <tbody>
        <tr>
          <td> FAA Identifier: </td>
          <td> PTW </td>
        </tr>
        <tr>
          <td> Lat/Long: </td>
          <td>
            40-14-22.4000N / 075-33-24.2000W 40-14.373333N / 075-33.403333W
            40.2395556 / -75.5567222 (estimated)
          </td>
        </tr>
        <tr>
          <td> Elevation: </td>
          <td> 308.2 ft. / 93.9 m (surveyed) </td>
        </tr>
        <tr>
          <td> Variation: </td>
          <td> 12W (1990) </td>
        </tr>
        <tr>
          <td> From city: </td>
          <td> 3 miles E of POTTSTOWN, PA </td>
        </tr>
        <tr>
          <td> Time zone: </td>
          <td> UTC -4 (UTC -5 during Standard Time) </td>
        </tr>
        <tr>
          <td> Zip code: </td>
          <td> 19464 </td>
        </tr>
      </tbody>
    </table>
    <h2 class="font-bold text-3xl lg:text-5xl mb-6 leading-tight">
      Airport Operations
    </h2>
    <table class="">
      <tbody>
        <tr>
          <td> Airport use: </td>
          <td> Open to the public </td>
        </tr>
        <tr>
          <td> Activation date: </td>
          <td> 04/1938 </td>
        </tr>
        <tr>
          <td> Sectional chart: </td>
          <td>
            <a href="http://www.airnav.com/sectionals" target="_blank"
              >NEW YORK</a
            >
          </td>
        </tr>
        <tr>
          <td> Control tower: </td>
          <td> no </td>
        </tr>
        <tr>
          <td> ARTCC: </td>
          <td> NEW YORK CENTER </td>
        </tr>
        <tr>
          <td> FSS: </td>
          <td> WILLIAMSPORT FLIGHT SERVICE STATION </td>
        </tr>
        <tr>
          <td> NOTAMs facility: </td>
          <td> PTW (NOTAM-D service available) </td>
        </tr>
        <tr>
          <td> Attendance: </td>
          <td> MON-FRI 0600-2200, ALL SAT-SUN 0700-1800 </td>
        </tr>
        <tr>
          <td> Wind indicator: </td>
          <td> lighted </td>
        </tr>
        <tr>
          <td> Segmented circle: </td>
          <td> yes </td>
        </tr>
        <tr>
          <td> Lights: </td>
          <td> SS-SR </td>
        </tr>
        <tr>
          <td> Beacon: </td>
          <td>
            white-green (lighted land airport) Operates sunset to sunrise.
          </td>
        </tr>
        <tr>
          <td> Landing fee: </td>
          <td> yes </td>
        </tr>
      </tbody>
    </table>
    <h2 class="font-bold text-3xl lg:text-5xl mb-6 leading-tight">
      Airport Communications
    </h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td> CTAF/UNICOM: </td>
          <td> 122.7 </td>
        </tr>
        <tr>
          <td> WX ASOS: </td>
          <td> 119.425 (610-495-0823) </td>
        </tr>
        <tr>
          <td> PHILADELPHIA APPROACH: </td>
          <td> 126.85 </td>
        </tr>
        <tr>
          <td> PHILADELPHIA DEPARTURE: </td>
          <td> 126.85 </td>
        </tr>
        <tr>
          <td> CLEARANCE DELIVERY: </td>
          <td> 118.55 </td>
        </tr>
        <tr>
          <td> WX AWOS-3 at UKT (14 nm NE): </td>
          <td> 119.475 (215-538-7610) </td>
        </tr>
        <tr>
          <td> WX AWOS-3 at LOM (15 nm SE): </td>
          <td> 118.925 (215-646-1068) </td>
        </tr>
        <tr>
          <td> WX AWOS-3 at OQN (15 nm S): </td>
          <td> 121.4 (610-692-6190) </td>
        </tr>
        <tr>
          <td> WX AWOS-3 at CKZ (15 nm NE): </td>
          <td> 126.325 (215-257-7291) </td>
        </tr>
      </tbody>
    </table>
    <p class="mb-4">CLEARANCE DELIVERY PHILADELPHIA APCH TF 800-354-9884.</p>
    <h2 class="font-bold text-3xl lg:text-5xl mb-6 leading-tight">
      Nearby radio navigation aids
    </h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            <b>VOR radial/distance</b>
          </td>
          <td>
            <b>VOR name</b>
          </td>
          <td>
            <b>Freq</b>
          </td>
          <td>
            <b>Var</b>
          </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=PTW&type=VORTAC&name=POTTSTOWN"
              target="_blank">PTW</a
            >r018/1.1
          </td>
          <td> POTTSTOWN VORTAC </td>
          <td> 116.50 </td>
          <td> 09W </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=CKZ&type=VOR.DME&name=PENNRIDGE"
              target="_blank">CKZ</a
            >r245/15.3
          </td>
          <td> PENNRIDGE VOR/DME </td>
          <td> 108.85 </td>
          <td> 12W </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=MXE&type=VORTAC&name=MODENA"
              target="_blank">MXE</a
            >r024/20.0
          </td>
          <td> MODENA VORTAC </td>
          <td> 113.20 </td>
          <td> 09W </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=ETX&type=VOR.DME&name=EAST+TEXAS"
              target="_blank">ETX</a
            >r173/21.3
          </td>
          <td> EAST TEXAS VOR/DME </td>
          <td> 110.20 </td>
          <td> 09W </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=PNE&type=VOR&name=NORTH+PHILADELPHIA"
              target="_blank">PNE</a
            >r301/(26.8)
          </td>
          <td> NORTH PHILADELPHIA VOR </td>
          <td> 112.00 </td>
          <td> 10W </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=FJC&type=VORTAC&name=ALLENTOWN"
              target="_blank">FJC</a
            >r199/29.6
          </td>
          <td> ALLENTOWN VORTAC </td>
          <td> 117.50 </td>
          <td> 10W </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=ARD&type=VOR.DME&name=YARDLEY"
              target="_blank">ARD</a
            >r278/29.7
          </td>
          <td> YARDLEY VOR/DME </td>
          <td> 108.20 </td>
          <td> 10W </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=DQO&type=VORTAC&name=DUPONT"
              target="_blank">DQO</a
            >r014/33.8
          </td>
          <td> DUPONT VORTAC </td>
          <td> 114.00 </td>
          <td> 10W </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=LRP&type=VORTAC&name=LANCASTER"
              target="_blank">LRP</a
            >r087/34.4
          </td>
          <td> LANCASTER VORTAC </td>
          <td> 117.30 </td>
          <td> 09W </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?id=OOD&type=VORTAC&name=WOODSTOWN"
              target="_blank">OOD</a
            >r352/38.0
          </td>
          <td> WOODSTOWN VORTAC </td>
          <td> 112.80 </td>
          <td> 10W </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            <b>NDB name</b>
          </td>
          <td>
            <b>Hdg/Dist</b>
          </td>
          <td>
            <b>Freq</b>
          </td>
          <td>
            <b>Var</b>
          </td>
          <td colspan="2">
            <b>ID</b>
          </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?type=NDB&id=ING&name=AMBLER"
              target="_blank">AMBLER</a
            >
          </td>
          <td> 311/14.2 </td>
          <td> 275 </td>
          <td> 12W </td>
          <td> ING </td>
          <td> .. -. –. </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?type=NDB&id=UKT&name=QUAKERTOWN"
              target="_blank">QUAKERTOWN</a
            >
          </td>
          <td> 239/16.2 </td>
          <td> 208 </td>
          <td> 12W </td>
          <td> UKT </td>
          <td> ..- -.- – </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://www.airnav.com/cgi-bin/navaid-info?type=NDB&id=LQX&name=CARBON"
              target="_blank">CARBON</a
            >
          </td>
          <td> 177/35.6 </td>
          <td> 339 </td>
          <td> 12W </td>
          <td> LQX </td>
          <td> .-.. –.- -..- </td>
        </tr>
      </tbody>
    </table>
    <h2 class="font-bold text-3xl lg:text-5xl mb-6 leading-tight">
      Airport Services
    </h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td> Fuel available: </td>
          <td> 100LL JET-A </td>
        </tr>
        <tr>
          <td> Parking: </td>
          <td> hangars and tiedowns </td>
        </tr>
        <tr>
          <td> Airframe service: </td>
          <td> MAJOR </td>
        </tr>
        <tr>
          <td> Powerplant service: </td>
          <td> MAJOR </td>
        </tr>
        <tr>
          <td> Bottled oxygen: </td>
          <td> NONE </td>
        </tr>
        <tr>
          <td> Bulk oxygen: </td>
          <td> NONE </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
