---
import ImageComp from "./ImageComp.astro";
---

<div class="relative isolate overflow-hidden pt-14">
  <ImageComp
    imagePath="/src/assets/penn-air-bg.webp"
    imageAlt="adsf"
    styles="absolute inset-0 -z-10 size-full object-cover object-right lg:object-center"
  />
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto lg:mx-0 max-w-2xl py-28">
      <div class="mb-8 flex justify-center lg:justify-start">
        <div
          class="relative rounded-full px-3 py-1 text-sm/6 text-black ring-1 bg-red-300/10 ring-red-900 hover:ring-red-800/90 duration-150"
        >
          Private Charter Services. <a
            href="#charter"
            class="font-semibold text-black/70"
            ><span class="absolute inset-0" aria-hidden="true"></span>Read more <span
              aria-hidden="true">&rarr;</span
            ></a
          >
        </div>
      </div>
      <div class="text-center lg:text-left">
        <h1
          class="text-balance text-5xl lg:text-7xl lg:leading-[3.5rem] font-bold tracking-tight text-red-900"
        >
          Aircraft Maintenance Company
        </h1>
        <p class="mt-8 text-pretty text-lg font-parag font-light text-gray-700">
          We acknowledge that aircraft ownership entails significant financial
          commitments and responsibilities. Our services assist you in
          determining whether it aligns with your personal or business
          objectives. When you select PennJet for aircraft acquisition or
          management, you gain access to comprehensive safety, service, and
          support. Our unwavering commitment ensures that you fully realize the
          benefits of your investment. Experience personalized aircraft
          management with PennJet.
        </p>
        <div
          class="mt-10 flex items-center justify-center lg:justify-start gap-x-6"
        >
          <a
            href="#contact-us"
            class="rounded-md bg-red-800 duration-200 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-400"
            >Get More Info</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-0 -z-10 bg-gradient-to-t from-white via-white/30 to-white/10"
    aria-hidden="true"
  >
  </div>
</div>
