---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, KEYWORDS, OG_IMAGE } from "../consts";
import "@fontsource-variable/public-sans";
// import "@fontsource-variable/cabin";
// Supports weights 200-800
import "@fontsource-variable/bricolage-grotesque";
import "@fontsource-variable/montserrat";
import Navbar from "../components/Navbar";
import ChatWidget from "../components/ChatWidget.astro";
import Banner from "../components/Banner.astro";

const { pathname } = Astro.url;
const { 
  title, 
  description, 
  keywords,
  image,
  canonical,
  geoRegion,
  geoPlacename
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      keywords={keywords ? keywords + ", " + KEYWORDS : KEYWORDS}
      image={image || OG_IMAGE}
      canonical={canonical}
    />
    {geoRegion && <meta name="geo.region" content={geoRegion} />}
    {geoPlacename && <meta name="geo.placename" content={geoPlacename} />}
    {geoRegion && <meta name="ICBM" content="40.24217243030569, -75.55532596753021" />}
    {geoRegion && <meta name="geo.position" content="40.24217243030569;-75.55532596753021" />}
  </head>
  <body class="font-sans">
    <Banner />
    <Navbar pathname={pathname} client:load />
    <main>
      <slot />
    </main>
    <Footer />
    <!-- <ChatWidget /> -->
  </body>
</html>
